<footer class="content">
  <div class="container">
    <div class="footer-wrap-big">
      <div class="footer-wrap-logo">
        <a href="" class="footer-icon">
          <svg class="footer-logo" width="16" height="16">
            <use href="./img/symbol-defs.svg#icon-vector"></use>
          </svg>
          <svg class="footer-logo harvest" width="146" height="12">
            <use href="./img/symbol-defs.svg#footer-icon-Frame-96"></use>
          </svg>
        </a>
        <p class="footer-text-logo">
          Whether you're looking for a healthy snack or a thoughtful gift, our
          fruit baskets are the perfect choice.
        </p>
      </div>
      <div class="footer-wrap-tablet">
        <ul class="footer-wrap-text">
          <li>
            <a class="footer-link-text" href="#howitworks">how it works</a>
          </li>
          <li>
            <a class="footer-link-text" href="#vegetables">vegetables</a>
          </li>
          <li><a class="footer-link-text" href="#reviews">reviews</a></li>
        </ul>
        <address class="footer-address">
          <ul class="footer-list">
            <li class="footer-list-item">
              <a
                class="footer-item-link"
                href="tel:+380684439426"
                target="_blank"
                >+380 (68) 443-94-26</a
              >
            </li>
            <li class="footer-list-item footer-span">
              <a
                href="https://www.google.com/maps/place/1678+Pioneer+Rd,+Salt+Lake+City,+UT+84104,+Сполучені+Штати+Америки/@40.7330107,-111.9580985,17z/data=!4m15!1m8!3m7!1s0x8752f35b0826d399:0x2b26230524fd3ca3!2zMTY3OCBQaW9uZWVyIFJkLCBTYWx0IExha2UgQ2l0eSwgVVQgODQxMDQsINCh0L_QvtC70YPRh9C10L3RliDQqNGC0LDRgtC4INCQ0LzQtdGA0LjQutC4!3b1!8m2!3d40.7335892!4d-111.9600867!16s%2Fg%2F11bw41vm_p!3m5!1s0x8752f35b0826d399:0x2b26230524fd3ca3!8m2!3d40.7335892!4d-111.9600867!16s%2Fg%2F11bw41vm_p?authuser=0&entry=ttu"
                target="_blank"
              >
                1678 S. Pioneer Road Salt Lake City UT 84104
              </a>
            </li>
          </ul>
        </address>
      </div>
    </div>
    <div class="footer-bottom-wrap">
      <ul class="footer-wrap-list">
        <li class="footer-wrap-item">
          <a href=""
            >Privacy Policy <span class="footer-span-policy">/</span> Cookie
            settings</a
          >
        </li>
        <li class="footer-wrap-item"><a href="">©Green Harvest 2023</a></li>
      </ul>
    </div>
  </div>
</footer>
