<header class="header">
  <div class="header-menu container">
    <a href="" class="text-logo">
      <svg class="header-icon-logo" width="16" height="16">
        <use href="./img/symbol-defs.svg#icon-vector"></use>
      </svg>
      <svg class="header-text-logo" width="148" height="12">
        <use href="./img/symbol-defs.svg#icon-vector"></use>
      </svg>
    </a>
    <div class="header-navigation">
    <nav class="header-nav">
      <ul class="header-item">
        <li class="header-list">
          <a href="" class="header-menu-link">How It Works</a>
        </li>
        <li class="header-list">
          <a href="" class="header-menu-link">Vegetables</a>
        </li>
        <li class="header-list">
          <a href="" class="header-menu-link">Reviews</a>
        </li>
      </ul>
      <button class="header-button" type="button">SHOP NOW</button>
    </nav>
    </div>
    <button type="button" class="header-modal-btn">
      <svg class="header-modal-icon" width="32" height="32">
        <use href="icon-heroicons-outline_menu-alt-1"></use>
      </svg>
    </button>

  </div>
  <div class="header-main-modal "></div>
<div class="header-modal">
  <button type="button" class="close-btn">
    <svg class="icon-close-mob" width="32" height="32">
      <use href="./img/symbol-defs.svg#icon-x"></use>
    </svg>
  </button>
  <nav class="header-nav-modal">
    <ul class="header-item-modal">
      <li class="header-list-modal ">
        <a href="" class="header-menu-link-modal curent">How It Works</a>
      </li>
      <li class="header-list-modal">
        <a href="" class="header-menu-link-modal">Vegetables</a>
      </li>
      <li class="header-list-modal">
        <a href="" class="header-menu-link-modal">Reviews</a>
      </li>
    </ul>
    </nav>
    <button class="header-button-modal" type="button">SHOP NOW</button>
 
</div>

</header>
