
  <header class="header">
    <div class="header-menu container">
      <a href="" class="text-logo">
        <svg class="header-icon-logo" width="16" height="16">
          <use href="/src/img/header.img/header.svg#icon-icon-mob"></use>
        </svg>
        <svg class="header-text-logo" width="148" height="12">
          <use href="/src/img/header.img/header.svg#icon-textlogo-text-1"></use>
        </svg>
      </a>
      <nav class="header-nav">
        <ul class="header-item">
          <li class="header-list">
            <a href="" class="header-menu-link">How It Works</a>
          </li>
          <li class="header-list">
            <a href="" class="header-menu-link">Vegetables</a>
          </li>
          <li class="header-list">
            <a href="" class="header-menu-link">Reviews</a>
          </li>
        </ul>
        <button class="header-button" type="button">SHOP NOW</button>
      </nav>
  
      <button type="button" class="header-modal-btn">
        <svg class="header-modal-icon" width="32" height="32">
          <use href="/src/img/header.img/header.svg#icon-modal-mob"></use>
        </svg>
      </button>
  
    </div>
  
  </header>



