<section class="reviews">
    
    <div class="container reviews">
        <div>
        <h2 class="title_rev">Reviews from our <span class="rev_span">customers</span></h2>
        <p class="title_text">Words of our customers: impressions and opinions about the quality of our services and the freshness of our products.</p>
        </div>
    <div class="rev_list">
        <ul class="rev_list">
            <li class="rev_point"> 
                <picture class="rev_img">
                    <img src="../img/reviews/john1.png" alt="jhon" width="56" height="56"
                    srcset="../img/reviews/john2.png 2x">   
                </picture>
                <h3 class="rev_name">John Wax</h3>
                <p class="rev_comment">These vegetables are my secret to delicious and healthy meals. The quality is always at the highest level, the aroma and taste are enchanting. I advise every fan of real products!</p>
            </li>
            <li class="rev_point"> 
                <picture class="rev_img">
                    <img src="../img/reviews/victoria1.png" alt="Vici" width="56" height="56"
                    srcset="../img/reviews/victoria2.png 2x">   
                </picture>
                <h3 class="rev_name">Victoriya Romashenko</h3>
                <p class="rev_comment">I love how fast and fresh the vegetables are delivered. Salads always turn out so appetizing, and soups are real masterpieces. The quality is impeccable!</p>
            </li>
            <li class="rev_point"> 
                <picture class="rev_img">
                    <img src="../img/reviews/ihor1.png" alt="ihor" width="56" height="56"
                    srcset="../img/reviews/ihor2.png 2x">   
                </picture>
                <h3 class="rev_name">Ihor Trachuk</h3>
                <p class="rev_comment">Recently tried my fresh tomatoes and peppers - amazing! The authenticity of the taste, as if from the garden directly to my table. It is now my main vegetable supplier.</p>
            </li>

        </ul>
        
    </div>  
    
    




</div>





</section>