<section class="vegetables">
  <div class="container">
    <div>
      <h2 class="vegetables-title">
        organic
        <span class="vegetables-span">vegetables</span>
      </h2>
      <p class="vegetables-text">
        Our organic vegetables are hand-picked from local farms and delivered
        straight to your doorstep, ensuring that you get the freshest and most
        nutritious produce possible.
      </p>
    </div>
    <div>
      <ul class="vegetables-list">
        <li class="vegetables-item">
          <h3 class="vegetables-suptitle">eggplant</h3>
          <p class="veg-text">60 UAH / kg</p>
          <img
            srcset="
              ./img/vegetables/eggplant2x.jpg 2x,
              ./img/vegetables/eggplant1x.jpg 1x
            "
            src="./img/vegetables/eggplant1x.jpg"
            alt="eggplant"
          />
        </li>
        <li class="vegetables-item">
          <h3 class="vegetables-suptitle">leek</h3>
          <p class="veg-text">50 UAH / kg</p>
          <img
            srcset="
              ./img/vegetables/leek2x.jpg 2x,
              ./img/vegetables/leek1x.jpg 1x
            "
            src="./img/vegetables/leek1x.jpg"
            alt="leek"
          />
        </li>
        <li class="vegetables-item">
          <h3 class="vegetables-suptitle">mushrooms</h3>
          <p class="veg-text">40 UAH / kg</p>
          <img
            srcset="
              ./img/vegetables/mushrooms2x.jpg 2x,
              ./img/vegetables/mushrooms1x.jpg 1x
            "
            src="./img/vegetables/mushrooms1x.jpg"
            alt="mushrooms"
          />
        </li>
        <li class="vegetables-item">
          <h3 class="vegetables-suptitle">corn</h3>
          <p class="veg-text">60 UAH / kg</p>
          <img
            srcset="
              ./img/vegetables/corn2x.jpg 2x,
              ./img/vegetables/corn1x.jpg 1x
            "
            src="./img/vegetables/corn1x.jpg"
            alt="corn"
          />
        </li>
        <li class="vegetables-item">
          <h3 class="vegetables-suptitle">sweet potatoes</h3>
          <p class="veg-text">50 UAH / kg</p>
          <img
            srcset="
              ./img/vegetables/sweet-potatoes2x.jpg 2x,
              ./img/vegetables/sweet-potatoes1x.jpg 1x
            "
            src="./img/vegetables/sweet-potatoes1x.jpg"
            alt="potatoes"
          />
        </li>
        <li class="vegetables-item">
          <h3 class="vegetables-suptitle">carrot</h3>
          <p class="veg-text">40 UAH / kg</p>
          <img
            srcset="
              ./img/vegetables/carrot2x.jpg 2x,
              ./img/vegetables/carrot1x.jpg 1x
            "
            src="./img/vegetables/carrot1x.jpg"
            alt="carrot"
          />
        </li>
      </ul>
    </div>
  </div>
</section>
