.advertisement {
  background-color: #fbfbfb;
  padding: 80px 0;
}

.advertisement-text {
  font-weight: 600;
  font-size: 48px;
  line-height: 1.04167;
  letter-spacing: -0.01em;
  text-transform: uppercase;
}

.advertisement-text-accent {
  display: block;
  color: #fbfbfb;
  background-color: #576f35;
  border-radius: 12px;
  padding: 0 10px;
}

.advertisement-wrapper {
  background: #fbfbfb;
}

.advertisement-text-normal {
  display: block;
  color: #141414;
  padding: 0 10px;
}
.advertisement-container {
  padding: 80px 10px;
  width: 375px;
  height: 469px;
  background: #fbfbfb;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 768px) {
  .advertisement {
    padding: 100px 0;
  }

  .advertisement-text-accent {
    padding: 8px 16px;
  }

  .advertisement-text-normal {
    padding: 0 16px;
  }

  .advertisement-text {
    font-size: 64px;
    line-height: 1.09375;
  }
}

@media screen and (min-width: 1280px) {
  .advertisement {
    padding: 100px 0;
  }

  .advertisement-text-accent {
    display: inline-block;
    padding: 8px 13px;
  }

  .advertisement-text-normal {
    display: inline-block;
    padding: 0 16px;
  }

  .advertisement-text {
    font-size: 76px;
    line-height: 1.05263;
  }

  .advertisement-text {
    display: flex;
    flex-wrap: wrap;
  }
}
