.header {
    display: flex;
  justify-content: center;
    padding-top: 20px;
    background-color: #576F35;
    padding-bottom: 48px;
    width: 100%;
    top: 0;

  }

  .header-menu {
    display: flex;
    align-items: center;
    height: 32px;
    margin: 0;


  }

  .header-icon-logo {
    margin-right: 4px;
    padding: 0;
    fill: #fbfbfb;

  }

  .header-text-logo {
    fill: #fbfbfb;
  }

  .text-logo {
    text-decoration: none;
    display: flex;
    align-items: center;
  }

  .header-modal-btn {
    display: block;
    margin-left: auto;
    background-color: transparent;
    border: none;
    padding: 0;
    fill: #fbfbfb;

  }

  .close-btn{
    display: block;
      margin-left: auto;
      background-color: transparent;
      border: none;
      padding: 0;
      fill: #fbfbfb;
      padding-top: 20px;
      padding-right: 20px;
  }
  .header-modal-icon {}

  .header-item{}

  .header-nav {
    display: none;
  }
  .header-modal {
      position: absolute;
        top: 0;
        background-color: #7a3145;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0 auto;   
        padding-bottom: 40px;
        opacity: 0;
        pointer-events: none;
        visibility: hidden;
        z-index: 999;


  }

  .header-nav-modal {
    display: flex;
      flex-grow: 1;

  }

  .header-item-modal {
    display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 8px;

  }


  .header-list-modal {

  }

  .header-list-modal:hover,
  .header-list-modal:active{
    background-color: #fbfbfb;
  }

  .header-menu-link-modal {
    border: 1px solid rgba(251, 251, 251, 0.4);
      border-radius: 12px;
      padding: 12px;
      background-color: transparent;
      font-family: "Inter Tight",
        sans-serif;
      font-weight: 500;
      font-size: 16px;
      line-height: 1.25;
      letter-spacing: -0.02em;
      text-align: center;
      color: #fbfbfb;
      text-align: center;
      display: block;
      margin: 0 auto;
      min-width: 115px;
  }
  .curent {
    background-color: #fbfbfb;
    color: #7a3145;
  }

  .header-menu-link-modal:hover, .header-menu-link-modal:active{
    color: #7a3145;
  }

  .header-button-modal {
    border-radius: 30px;
      padding: 16px 41px;
      /* background-color: #fbfbfb; */
        font-weight: 600;
        font-size: 14px;
        line-height: 129%;
        letter-spacing: -0.01em;
        text-transform: uppercase;
        /* color: #7a3145; */
        border: none;
        margin-bottom: 40px;
          transition-timing-function: ease-out;
          background-color: transparent;
            border: 1px solid rgba(251, 251, 251, 0.4);
            color: #fbfbfb;
  }
   .header-button-modal:hover,
   .header-button-modal:active{
    background-color: #fbfbfb;
    color: #7a3145;
   }

   .is-open {
     opacity: 1;
     visibility: visible;
     pointer-events: auto;
   }
  @media screen and (min-width:375px) {


  }

  @media screen and (min-width:768px) {
    .header-icon-logo{
      width: 18px;
      height: 18px;
      padding-right: 8px;
    }

    .header-text-logo{
      width: 168px;
      height: 15px;
    }


    .header {
      padding-top: 32px;
    }
    .header-modal-icon{
      width: 40px;
      height: 40px;
    }
    .icon-close-mob{
      width: 40px;
        height: 40px;
    }

    .header-main-modal{
      position: absolute;
        top: 0;
        left: 0;
      background: rgba(20, 20, 20, 0.4);
      width: 100%;
      height: 100%;
        opacity: 0;
          pointer-events: none;
          visibility: hidden;
          
    }
   .is-open {
     opacity: 1;
     visibility: visible;
     pointer-events: auto;
   }
    .header-modal{
      max-width: 351px;
      right: 0;}


  .icon-close-mob{
    width: 40px;
    height: 40px;
  }
  .header-button-modal{
    font-size: 18px;
    background-color: transparent;
    border: 1px solid rgba(251, 251, 251, 0.4);
    color: #fbfbfb;

  }
  .header-button-modal:hover,
  .header-button-modal:active {
    background-color:#fbfbfb;
  }
    }


  @media screen and (min-width:1280px) {
    .header{
        position: fixed;
          z-index: 50;
    background-color: transparent;
  }
    .header-modal-btn{
      display: none;
    }
       .header-navigation {
            display: flex;
              flex-direction: row;
              gap: 20px;
              justify-content: flex-end;
              align-items: center;
              position: static;
              width: 100%;
              height: 100%;
              background-color: transparent;
              padding-bottom: 0;
              transform: translate(0);
       }

  .header-nav {
    display: flex;
    align-items: center;
  }

    .header-item {
      display: flex;

        gap: 8px;
        padding-right: 20px;
    }
  .header-list{
    border: 1px solid rgba(251, 251, 251, 0.4);
      border-radius: 12px;
      padding: 12px;
      background-color: transparent;
  }
    .header-menu-link {
      font-family:"Inter Tight",
        sans-serif;;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.25;
        letter-spacing: -0.02em;
        text-align: center;
        color: #fbfbfb;
        text-align: center;
        display: block;
        margin: 0 auto;
    }
    .header-button{

      border-radius: 30px;
        padding: 16px 32px;
        background-color: #7a3145;
        border: none;
        font-family: "Inter Tight",
          sans-serif;;
          font-weight: 600;
          font-size: 18px;
          line-height: 1.11;
          letter-spacing: -0.01em;
          text-transform: uppercase;
          color: #fbfbfb;
          text-align: center;
          font-style: normal;
    }
    .header-button:hover, .header-button:active{
      background: #622133;
    }

    .header-main-modal{
      display: none;
      
    }

    .header-modal{
      display: none;
      position: fixed;
    }

    .header-nav-modal {
      
       position: fixed;
      
       }


  }
