/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
@import url('./reset.css');
@import url('./advertisement.css'); 
@import url('./header.css');
@import url('./hero.css');
@import url('./howitworks.css');
@import url('./reviews.css');
@import url('./vegetables.css');
@import url('./yourorder.css');
@import url('./footer.css');

:root {
  --text: #141414;
    --background: #576f35;
    --background-2: #7a3145;
    
    --font-family: "Inter Tight", sans-serif;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  font-weight: 500;
    font-size: 16px;
    line-height: 1.29;
    font-family: var(--font-family);
    color: var(--main-text);
  }



.container {
  padding: 0 20px;
  margin: 0 auto;
  width: 100%;
}


@media screen and (min-width:375px) {
  .container {
    max-width: 375px;
  }

}

@media screen and (min-width:768px) {
  .container {
    max-width: 768px;
    padding-left: 32px;
    padding-right: 32px;
  }
}

@media screen and (min-width:1280px) {
  .container {
    max-width: 1280px;
    padding-left: 100px;
    padding-right: 100px;
  }
}